
body {
    color:rgb(224, 224, 224);
    font-family: 'Poppins', sans-serif;
    background-image: url(../zengarden/zenimmagini/sfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}


.preamble, .explanation, .participation, .benefits, .requirements, footer {
    max-width: 1200px;
    margin: 0 auto;
}

 section{
    text-align: left;
    background-image:url("../zengarden/zenimmagini/header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    height:100vh;
    margin: 0 auto;
       
}
.summary { 
    margin-top: 10%;
    margin-left: 10%;
    width: 30em;
    background-color: rgb(27, 27, 27);
    background-size: cover;
    background-image: url(../zengarden/zenimmagini/footer.jpg);
    padding: 1em;
    color: black;
    box-shadow: 10px 10px 5px rgb(221, 149, 90);
}

.summary p {
    text-align: left;
}

.summary:hover {
    transform: scale(1.5);
    transition: 1.5s;
}

.summary:not(:hover) {
    transform: scale(1);
    transition: 1.5s;
}

h1
{
     color: rgb(226, 117, 28);
    font-size: 5em;
    transition:2s ;
    margin: 0;
    margin-top: 0;
    margin-left: 10%;
    text-shadow: 3px 3px 5px black;
    font-family: 'Reggae One', cursive;
}

h2::before
{
    content: "禅";
    
}

h2::after
{
    content: "庭";
}



h1:hover     
{
   
    color: rgb(197, 48, 48);
}

h2
{
    font-size: 2.5em;
    color: rgb(156, 212, 102);
    margin-left: 10%;
    text-shadow: 3px 3px 5px black;
}

h3
{
    font-size: 2em;
    color: rgb(226, 117, 28);
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

p
{
    font-size: 1em;
}

a
{
    font: bolder;
    color: rgb(197, 48, 48);
    font-weight: 800;
    text-decoration: none;
    transition: 0.5s;
    text-transform: uppercase;
}

a:hover
{
    color: rgb(156, 212, 102);
}

ul
{
    list-style: none;
}

abbr  
{
    text-decoration: none;
}


#zen-supporting{
    padding: 0;
    margin: 0 auto;   
}

.preamble {
    clear: both;
    margin-top: 100px; 
}

.explanation, .participation, .benefits, .requirements
{
    clear: both;
   padding-top: 100px;
   filter: grayscale(0);
}

.preamble h3, .participation h3
{
    padding-top:10px;
}
   
.preamble::after
{
    content: "";
    background-image: url("../zengarden/zenimmagini/sushi1.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40%;
    height: 450px;
    margin-left: 9%;
}

.preamble:hover:after, .participation:hover:after, .benefits:hover:before
{
    animation-name: sushipulse;
    animation-duration: 1.5s; 
    transition: 1s;
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count:inherit;
    animation-fill-mode: none;
    animation-play-state: running;
    filter: grayscale(100%);
    cursor: grab;
}

.explanation:hover:before
{
  rotate: (360);
  animation-name: spin;
  animation-duration: 500ms;
  animation-duration: 1.5s; 
  transition: 1s;
  animation-timing-function: ease-out; 
  animation-iteration-count: infinite;
  animation:spin 2s linear infinite; 
  animation-fill-mode: none;
  animation-play-state: running;
  filter: grayscale(100%);
  cursor: grab;
}

/* ANIMAZIONE "RAMEN" */
@keyframes spin {
    0% {
        transform: scale(1);
        transform:rotate(0deg);
        border-radius: 100%;
    }
    50% {
        transform: scale(1.5);
        transform:rotate(180deg);
    }
    100% {
        transform: scale(1);
        transform:rotate(360deg);  
    }
}

/* ANIMAZIONE "SUSHI" */
@keyframes sushipulse {
    0% {
      transform: scale(1);
      background-color: rgb(197, 48, 48);
      border-radius: 100%;
    }
    50% {
        transform: scale(1.5);
        background-color: rgba(197, 48, 48, 0.157);
    }
    100% {
      transform: scale(1);
      background-color: rgba(197, 48, 48, 0);
    }
  }

.preamble p, .preamble h3
{
    width: 51%;
    float: left;  
}

.explanation::before {
    content: "";
    background-image: url("../zengarden/zenimmagini/sushi2.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline;
    width: 450px;
    height: 450px;
    float: left;
}

.explanation p, .explanation h3
{
    width:51%;
    float: right;  
}

.participation::after
{
    content: "";
    background-image: url("../zengarden/zenimmagini/sushi3.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 40%;
    height: 450px;
    margin-left: 9%;
}

.participation p, .participation h3
{
    width: 51%;
    float: left;  
}

.benefits::before {
    content: "";
    background-image: url("../zengarden/zenimmagini/sushi4.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline;
    width: 450px;
    height: 450px;
    float: left;
}

.benefits p, .benefits h3
{
    width:51%;
    float: right;  
    margin-top: 50px;
}


/* FOOTER  (tag "sidebar") */


.wrapper     
{
    color:rgb(0, 0, 0); 
    text-align: center;  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto ;
    margin-top: 100px; 
    background-image: url("../zengarden/zenimmagini/footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;     
}

.wrapper ul
{
    padding: 0;
}

.wrapper h3
{
    font-size: 1.2em;
    text-align: center;
    color:rgb(0, 0, 0);
    font-weight: bolder;
}

.wrapper li
{
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
}
 
.preamble p, .participation p, .explanation p,.benefits p, .requirements p
{
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;   
}

footer
{
  
    display: flex;
    justify-content: space-evenly;
}

 .requirements 
{
    padding: 0;
    border: solid 5px rgb(156, 212, 102);
    transition: border-width 0.6s linear;
    margin-bottom: 100px;
}

 .requirements:hover
{
    border-width:10px;
}
      
.zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github
{  
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    border-style: inset;
}

.zen-validate-html:hover, .zen-validate-css:hover, .zen-license:hover, .zen-accessibility:hover,.zen-github:hover
{
  transition: 1s;
  transform: scale(1.3);
  cursor:grab;
}

footer a 
{
  font-size: 1.7em;
}


/* ICONE PULSANTI SUSHI */
.zen-validate-html
{
    background-image: url("../zengarden/zenimmagini/icon1.png"); 
    background-size: 60%;
    background-position: center ;
    border-color: rgb(226, 117, 28);
}

.zen-validate-css
{
    background-image: url("../zengarden/zenimmagini/icon4.png"); 
    background-size: 60%;
    background-position: center ;
    border-color: rgb(197, 48, 48);
}

.zen-license
{
    background-image: url("../zengarden/zenimmagini/icon2.png"); 
    background-size: 60%;
    background-position: center ;
    border-color: rgb(156, 212, 102);
}

.zen-accessibility
{
    background-image: url("../zengarden/zenimmagini/icon5.png"); 
    background-size: 67%;
    background-position: center ; 
    border-color: rgb(226, 117, 28);
}

.zen-github
{
    background-image: url("../zengarden/zenimmagini/icon3.png"); 
    background-size: 67%;
    background-position: center ;
    border-color: rgb(197, 48, 48);
}



/* MOBILE */

@media screen and (max-width:600px)

{

    body
    {
    margin: 0 auto;
    }
    
    section
    {
    height:100vh;
    background-image: url(../zengarden/zenimmagini/header2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;       
    }
    
    .summary 
    { 
    width: 17em;
    text-align: center;
    margin: 0 auto;
    margin-top: 200px;
    padding: 10px;
    }

    .summary:hover {
        transform: none;
        transition: 1.5s;
    }

    .summary p
    { 
        text-align: center;
    }

    h1
    {
    font-size: 6em;
    transition: none;
    text-align: center;
    padding-top: 50vh;
    margin: 0 auto;
        width: 7em;
    }
          
    h2
    {
        font-size: 1.7em;
        text-align: center;
        margin: 0 auto;
        width: 12em;
    }
        
    h3
    {
        font-size: 1.3em;
    }

    p
    {
        font-size: 0.9em;   
    }
        
    #zen-supporting
    {
        margin-right:0;
        margin-left: 0;
        text-align: center;
    }
         
    h1::after
    {
        display: none;
    }
        
    h1::before
    {
        display: none;
    } 
        
    .preamble
    { 
        margin-top: 100px;
    }
        
    .explanation, .participation, .benefits, .requirements
    {
        padding-top: 80px;
    }
        
    .preamble::after
    {
        
        width: 100vw;
        height: 100vh;
        margin: 0;
        float: none;
    }
        
    .preamble p, .preamble h3
    {
        width: 100%;
        float: none;    
    }
        
        
    .explanation::after 
    {
        content: "";
        background-image: url("../zengarden/zenimmagini/sushi2.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vw;
        margin-top: 30px;
        margin: 0 auto;
        float: none;
        display: inherit; 
    }

    .explanation::before
    {
        display: none;
    }
        
        
    .explanation p, .explanation h3
    {
        width: 100%;
        float: none;
    }
        
        
    .participation::after
    {
        
        width:100vw;
        height: 100vw;
        margin: 0;
        float: none;
    }
    
        
    .participation p, .participation h3
    {
        width: 100%;
        float: none;
    }
        
    
    .benefits::after 
    {
        content: "";
        background-image: url("../zengarden/zenimmagini/sushi4.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vw;
        margin-top: 30px;
        margin: 0 auto;
        float: none;
        display: inherit;
    }

    .benefits::before
    {
        display: none;
    }
        
    .benefits p, .benefits h3
    {
        width: 100%;      
        float: none;   
    }

    .requirements 
    {
        margin: 0 auto;
        margin-bottom: 100px;
    }

    footer
    { 
        justify-content: center;
        flex-wrap:wrap;        
    }

    .wrapper
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto ;
        margin-top: 100px;
        text-align: center;
    }

    .design-selection,.zen-resources
    {
        margin: 50px;
    }

    h3
    {
        display: inline;
    }
        
    .zen-validate-html, .zen-validate-css, .zen-license, .zen-accessibility, .zen-github
    {  
        width: 30%;
        height:140px;
        background-position: center;
    }

    .zen-validate-html,.zen-validate-css,.zen-license,.zen-accessibility,.zen-github
    {
        border-color: transparent;
    }

}

/* TABLET */
@media only screen and (max-device-width: 920px)
{

    h1
    {
   
        padding-top: 40%;
        font-size:2.5em;
        margin: 0 auto;
    }

    h2
    {
        font-size:1.4em;
    }
   
    .requirements
    {
        width:70vw ;
    }
    
    .summary 
    { 
        width: 17em;
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
        padding: 10px;

    }

    .zen-validate-html,.zen-validate-css,.zen-license,.zen-accessibility,.zen-github
    {
        border-color: transparent;
    }
   
   
    .explanation, .participation, .benefits, .requirements
    {
       padding-top: 80px;
    }
      
    .preamble::after
    {
      
        width: 70vw;
        height: 70vw;
        background-size: contain;
        margin: 0 auto;
        float: none;
        display: inherit; 
    }
    
    .preamble p, .preamble h3
    {
        width: 90%;
        float: none;
    }
    
    .explanation::after {
        content: "";
        background-image: url("../zengarden/zenimmagini/sushi2.png");
        background-repeat: no-repeat;
        background-size: contain;
         width: 70vw;
         height: 70vw;
         margin-top: 30px;
         margin: 0 auto;
         float: none;
         display: inherit; 
    }

    .explanation::before
    {
        display: none;
    }
    
    .explanation p, .explanation h3
    {
        width: 90%;
        float: none;
    }
    
    .participation::after
    {
       
        width:70vw;
        height: 70vw;
        margin: 0 auto;
        float: none;
        display: inherit; 
        background-size: contain;
    }
     
    .participation p, .participation h3
    {
        width: 90%;
        float: none;
    }
    
    .benefits::after {
        content: "";
        background-image: url("../zengarden/zenimmagini/sushi4.png");
        background-repeat: no-repeat;
        background-size: contain;
         width: 70vw;
         height: 70vw;
         margin-top: 30px;
         margin: 0 auto;
         float: none;
         display: inherit;
    }

    .benefits::before
    {
        display: none;
    }
  
    .benefits p, .benefits h3
    {
        width: 90%;      
        float: none;
    }
    
}

/* LAPTOP */
@media only screen and (max-device-width: 1024px)

{

    h1
    {
        padding-top: 40%;
        margin:0 auto;
    }

    .summary 
    { 
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
        padding: 10px;
    }

    .zen-validate-html,.zen-validate-css,.zen-license,.zen-accessibility,.zen-github
    {
        border-color: transparent;
    }

    .requirements
    {
      padding: 0; 
    }

    .zen-validate-html,.zen-validate-css,.zen-license,.zen-accessibility,.zen-github
    {
        border-color: transparent;
    }
   
}

